
body{
    background-color: black;
}
section{
    background-color: black;
}
#principal{
    height: 768px;
    width: 1366px;
    position: relative;
    margin:auto ;
}
#text-principal{
    font-family: 'Ranchers', cursive;
    font-size: 45px;
}
#text-principal2{
    font-family: 'Ranchers', cursive;
    font-size: 60px;
}

#text-tema{
    font-family: 'Ranchers', cursive;
    font-size: 28px;
    padding: 2px;

}
#div-audio{
    position: absolute;
    right: 0px;
    top: 0px;
}
#buttonPrincipal{
    font-family: 'Patrick Hand', cursive;

}
.navbar-nav {
    width: 100%;
    display: flex;
}
.navbar {
    padding: 0;
}
.navbar-nav > * {
    flex-grow: 1;
    text-align: center;
}
.nav-link {
    background-color: #222;
    color: white !important;
}
.nav-link:hover {
    background-color: white;
    color: black !important;
}

.nav-link.active {
    background-color: rgb(0, 75, 136) !important;
}

